@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Medium.woff);
}

@font-face {
    font-family: 'Raleway Bold';
    src: url(../fonts/Raleway-SemiBold_1.woff);
}

.text-bold {
    font-family: 'Raleway Bold' !important;
}

ul {
  list-style-type: none;
}

p {
    margin: 0;
}

body {
    margin: 0 !important;
    font-family: 'Raleway' !important;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.hide-overflow {
    overflow: hidden;
}

.row {
    flex-direction: row;
}

.h-100vh {
    height: 100vh;
}

.bg-black {
    background-color: black;
}

.bg-transparent {
    background-color: transparent;
}

.bg-primary {
    background-color: #21BCEC !important;
}

.color-primary {
    color: #21BCEC !important;
}

.background-image {
    background-image: url('../images/bg-image.jpg');
    opacity: .4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 5400px;
    width: 100%;
}

a:hover,
button:hover,
button:focus {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.light-txt {
    color: white;
}

.navbar {
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 60px;
    width: 85%;
    padding: 70px 0;
}

.navbar-logo {
    width: 135px;
    padding: 8px 8px 6px;
    display: inline-block;
}

.navbar-logo img {
    display: inline-block;
    width: 100%;
}

.navbar-items {
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-items>ul {
    display: flex;
    align-items: center;
}

.navbar-item {
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway';
    padding: 20px 30px;
    text-align: center;
    position: relative;
}

.navbar-item:hover:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: 5px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: calc(100% - 60px);
    background: #21BCEC;
    border-radius: 5px;
}

.navbar-item-active:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: 5px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: calc(100% - 60px);
    background: #21BCEC;
    border-radius: 5px;
}

.navbar-buttons {
    float: right;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-items button {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    margin-left: 30px;
    transition: all 300ms ease-in;
}

/* .navbar-items button:hover {
    box-shadow: 0px 0px 30px 0px rgba(33,188,236,0.69);
} */

.self-flex-start {
    align-self: flex-start;
}

#footer-section {
    justify-content: center;
    background-color: #21BCEC;
}

#footer {
    height: 12vh;
    color: white;
    justify-content: space-between;
    width: 85%;
    font-size: 20px;
}

#footer-nav > p {
    margin: 10px 15px;
}

#footer .social-media-icons i:hover {
    color: white;
}
