.social-media-icons {
    justify-content: center;
    margin-left: 144px;
}

.social-media-icons i {
    text-align: center;
    color: white;
    margin: 5px 0;
    width: 50px;
    font-size: 25px;
    transition: all 100ms linear;
    box-sizing: border-box;
}

#about-left-container {
    height: 550px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.social-media-icons i:hover {
    color: #21BCEC;
}

.subtitle {
    color: white;
    font-size: 40px;
    margin-top: 20px;
}

.title-container {
    align-items: flex-end;
    position: relative;
}

.title-container:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: -5px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 120px;
    background: #21BCEC;
    border-radius: 5px;
}

.title {
    color: white;
    font-size: 200px;
    font-weight: bold;
    letter-spacing: 15px;
}

.dot {
    width: 25px;
    height: 25px;
    background-color: #21BCEC;
    margin-bottom: 47px;
    margin-left: 25px;
}

.down-arrow {
    cursor: pointer;
    position: absolute;
    padding: 20px;
    bottom: 40px;
    color: white;
    font-size: 75px !important;
    transition: all 200ms ease-out;
}

/* .down-arrow:hover {
    bottom: 10px;
    font-size: 85px !important;
} */

.about-us-section {
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.about-us-section > div {
    align-items: flex-start;
    text-align: justify;
    text-justify: inter-word;
    width: 45%;
}

.section-title {
    margin-top: -25px;
    font-size: 83px;
    font-weight: bolder;
    margin-bottom: 18px;
    text-align: left;
}

.search-section-title {
    font-size: 83px;
    margin-bottom: 70px;
    text-align: left;
}

.description {
    font-size: 26px;
    margin-bottom: 35px;
    line-height: 40px;
}

.search-description {
    font-size: 26px;
    line-height: 40px;
}

.learn-more-btn {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    transition: all 150ms linear;
    /* box-shadow: 0px 0px 20px 0px rgba(33,188,236,0.5); */
    background-color: rgba(33,188,236,0.5);
}

/* .learn-more-btn:hover {
    box-shadow: 0px 0px 10px 0px rgba(33,188,236,0.4);
} */

#about-right-container {
    width: 750px;
    height: 550px;
    margin-bottom: 30px;
    /* background-color: grey; */
    background-image: url('../images/home/Picture1.png');
    background-repeat: no-repeat;
    background-size: 750px;
    position: relative;
}

#about-right-container:before {
    position: absolute;
    content: '';
    height: 363px;
    top: -55px; 
    right: -58px;
    width: 328px;
    background: #21BCEC;
    z-index: -10;
}

#why-us-right-container {
    padding: 3vw 5vw;
    box-sizing: border-box;
    width: 750px;
    height: 100%;
    background-color: black;
}

.why-us-image {
    width: 441px;
    box-sizing: border-box;
    padding: 50px;
    height: 800px;
    /* background-color: grey; */
    align-items: flex-start;
    justify-content: flex-end;
    box-shadow: inset 0px -180px 170px -126px rgba(0,0,0,1);
}

.why-us-image:nth-of-type(1) {
    background-image: url('../images/home/Picture6.png');
    background-size: auto 800px;
}

.why-us-image:nth-of-type(2) {
    background-image: url('../images/home/Picture7.png');
    background-size: 441px;
}

.why-us-image:nth-of-type(3) {
    background-image: url('../images/home/Picture8.png');
    background-size: auto 800px;
}

#why-us-images-container {
    flex-direction: row;
    z-index: 100;
}

#why-us-left-container {
    box-sizing: border-box;
    padding-top: 15px;
    height: 100%;
    justify-content: space-between;
    overflow: visible;
    z-index: 100;
}

.why-us-image-title {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: white;
}

.why-us-image-description {
    font-size: 25px;
    color: white;
    text-align: left;
}

#why-us-learn-more-btn {
    align-self: flex-end;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    transition: all 150ms linear;
    background-color: rgba(33,188,236,1);
    width: 310px;
    padding: 40px 0;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}

.arrow-right {
    margin-left: 10%;
    font-size: 40px !important;
}

#search-left-container {
    height: 100%;
    width: 50%;
    justify-content: flex-end;
}

#search-right-container {
    padding: 1vh 13vw 3vw 50px;
    box-sizing: border-box;
    width: 751px;
    height: 60%;
    align-self: flex-start;
    justify-content: center;
    background-color: black;
}

#search-image {
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 5%;
    padding: 125px 100px;
    width: 71vw;
    height: 578px;
    /* background-color: grey; */
    background-image: url('../images/home/Picture3.png');
    background-size: 71vw;
    z-index: 100;
    box-shadow: inset 0px -180px 170px -126px rgba(0,0,0,0);
    position: relative;
}

.search-input {
    outline: none;
    border: none;
    color: white;
    width: 600px;
    font-size: 26px;
    background-color: transparent;
    position: relative;
}

.search-input::placeholder {
    color: white;
}

#search-image:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: 105px;
    margin: 0 auto;
    left: 100px;
    width: 650px;
    background: white;
    border-radius: 5px;
}

.search-arrow {
    position: absolute;
    left: 720px;
    color: white;
    color: #21BCEC;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.faqs-section {
    justify-content: space-between;
    width: 85%;
    height: 88vh;
    margin: 0 auto;
    padding: 0 144px;
    position: relative;
    z-index: -2;
}

#faqs-left-container {
    width: 750px;
    height: 550px;
    margin-top: 8vh;
    /* background-color: grey; */
    position: relative;
}

#faqs-left-container-white-box {
    position: absolute;
    content: '';
    height: 363px;
    bottom: -55px;
    left: -58px;
    width: 328px;
    background: white;
    z-index: -1;
}

#faqs-right-container {
    width: 640px;
    height: 88vh;
    padding-top: 300px;
    align-items: flex-start;
}

.faqs-section-title {
    font-size: 83px;
    color: white;
    text-align: left;
}

.question-row {
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
}

.faqs-details {
    width: 100%;
    height: 550px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.question {
    color: white;
    font-size: 26px;
}

#overlay {
    position: relative; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }